* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* YT Toggle Switch */
label.testLabel {
  width: 500px;
  height: 200px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

label.testLabel:after {
  content: "";
  width: 180px;
  height: 180px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

input.testInput {
  width: 0;
  height: 0;
  visibility: hidden;
}

input.testInput:checked + label.testLabel {
  background: #242424;
}

input.testInput:checked + label.testLabel:after {
  left: 490px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

label.testLabel svg {
  position: absolute;
  width: 120px;
  height: auto;
  top: 40px;
  z-index: 100;
}

label.testLabel svg.moon {
  left: 340px;
  fill: #7e7e7e;
  transition: 0.3s;
}

label.testLabel svg.sun {
  left: 40px;
  fill: #fff;
  transition: 0.3s;
}

input.testInput:checked + label.testLabel svg.moon {
  fill: #fff;
}

input.testInput:checked + label.testLabel svg.sun {
  fill: #7e7e7e;
}

/* Second Toggle Switch */
.second-toggle label {
  width: 100px;
  height: 40px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 40px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.second-toggle label:after {
  content: "";
  width: 34px;
  height: 34px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 34px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.second-toggle input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.second-toggle input:checked + label {
  background: #242424;
}

.second-toggle input:checked + label:after {
  left: 97px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.second-toggle label svg {
  position: absolute;
  width: 24px;
  height: auto;
  top: 8px;
  z-index: 100;
}

.second-toggle label svg.second-sun {
  left: 8px;
  fill: #fff;
  transition: 0.3s;
}

.second-toggle label svg.second-moon {
  left: 69px;
  fill: #7e7e7e;
  transition: 0.3s;
}

.second-toggle nput:checked + label svg.second-sun {
  fill: #7e7e7e;
}

.second-toggle input:checked + label svg.second-moon {
  fill: #fff;
}
